html * {
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body {
    /* COR DE FUNDO */
    background-color: #fcf7f2;
}

#logotipo {
    /* LARGURA DO LOGOTIPO */
    
    /* MARGEM DO LOGOTIPO */
    margin: 3px;
    align-items: center;
}

    /* MENU DE NAVEGAÇÃO */
#menu {
  background-color: #fd9d2e;
  margin-bottom: 0px;
  border-top: 4px solid #fd702e;
  border-bottom: 4px solid #fd702e;
  padding: 3px;
  
     /* POSICIONAMENTO HORIZONTAL CENTRALIZADO */
    text-align-last: center;
     /* POSICIONAMENTO HORIZONTAL CENTRALIZADO */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
/* ALTERA SOMENTE O TEXTO DO MENU */
#menu a {
    COLOR: rgb(12, 12, 12);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'verdana';
    
}
#banner {
    border-top: 2px solid #c5460c;
    border-bottom: 2px solid  #c5460c;
}

#menu1 {
    margin: 5px;
}

.principal {
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;

    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 3 COLUNAS */
    grid-template-columns: repeat(2, 2fr);

    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 20px;
}
/* ALTERAR ITENS DAS IMAGENS */
.item {
  background-color: #f5f5f5;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 30px;
  color: #ec5d1b;
  border-top: 5px solid #e4762c;
  text-align: center;
  border-radius: 2%;
}

.item3 {
    text-transform: uppercase;
  margin: 20px;
  color: black;
   text-align: center;
  
}

/* ALTERAR FOOT */
#foot {
    text-align-last: center;
    color: WHITE;
    background-color: #c5460c;
    /* Alinhar na horizontal */
    justify-content: center;
      /* Alinhar na vertical */
    align-content: center;
      /* habilitar linhas e colunas */
    display:grid;

}

